/* Fontes */
@font-face {
    font-family: "SourceCodePro";
    src: url('../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceCodePro-SemiBold";
    src: url('../fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url('../fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** ------------- Global ------------- **/
body {
    background-color: black;
    font-family: 'SourceCodePro', monospace;
}

.textoBold {
    font-family: 'SourceCodePro-SemiBold', monospace;
    font-size: 27px;
    color: white;
}

.logo {
    padding-top: 3%;
}

.resolve-problemas {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 5%;
}

.texto {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.saibaMais {
    font-family: 'SourceCodePro-SemiBold', monospace;
    font-weight: bolder;
    text-decoration: none;
    color: #008000;
}

#atendimento {
    font-weight: bold;
    color: #008000; 
}

address {
    font-style: normal;
}

#link {
    border-bottom: 1px dotted;
}

footer {
    padding-top: 30%;
    text-align: center;
    font-family: 'SourceCodePro';
    color: white;
}

footer p {
    font-size: 0.7em;
}

#link-voltar {
    font-family: 'SourceCodePro', monospace;
    text-decoration: none;
    color: white;
}

/** ------------- Celulares ------------- **/

@media only screen and (max-width: 600px) {
    
    body {
        max-width: 100%;
        height: 100%;
    }

    .logo {
        max-width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
        
    .resolve-problemas {
        font-size: 23px;
        text-align: center;
        padding: 6% 0 5% 0;
    }

    .foto {
        width: 50%;
    }

    .div-texto {
        margin-left: 5%;
        margin-right: 5%;
    }

    .texto {
        font-size: 18px;
    }

    #atendimento {
        text-align: center;
    }


    .finger-click {
        width: 7%;
    }
    
    .icon {
        width: 10%;
    }

}

/** ------------- Tablets ------------- **/

@media only screen and (min-width: 768px) {


    body {
        max-width: 100%;
        height: 100%;
    }

    .logo {
        max-width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
        
    .resolve-problemas {
        font-size: 30px;
        text-align: center;
        padding: 6% 0 5% 0;
    }

    .foto {
        width: 40%;
    }

    .div-texto {
        margin-left: 5%;
        margin-right: 5%;

    }

    .finger-click {
        width: 4%;
    }

    .icon {
        width: 7%;
    }


}

/** ------------- Desktops ------------- **/

@media only screen and (min-width: 992px) {

    body {
        max-width: 100%;
        height: 100%;
    }

    .logo {
        max-width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
        
    .resolve-problemas {
        font-size: 40px;
        text-align: center;
        padding: 6% 0 5% 0;
    }

    .foto {
        width: 27%;
    }

    .div-texto {
        margin-left: 5%;
        margin-right: 5%;

    }

    .saibaMais:hover {
        background-color: #008000;    
        transition-delay: 0,5s;
        color: black;
    }

    #link:hover {
        background-color: #008000;    
        transition-delay: 0,5s;
        color: black;
    }
    
    #link-voltar:hover {
        background-color: #008000;    
        transition-delay: 0,5s;
        color: black;
    }

    #atendimento {
        font-size: 20px;
    }


    .finger-click {
        display: none;
    }

    footer {
        padding-top: 10%;
    }
    
    .icon {
        width: 2%;
    }

    /**--Links--**/

        #texto-links {
            font-size: 20px;
        }

        .container-links {
            display: table;
            text-align: center;
            width: 100%;
            
        }
        .links {
            display: inline-block;
            max-width: 8%;
            padding: 10% 3% 0 3%; 
        }

}
