/* Fontes */
@font-face {
    font-family: "Source Code Pro";
    src: url('../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url('../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Desktops e Displays Maiores */

body {
    background-color: black;
}
.container-logo {
    display: table;
    width: 100%;
}

.logo {
    display: table-cell;
    max-width: 90%;
    padding: 15px;
    vertical-align: middle;
    margin-left: 50px;
}

.resolve-problemas {
    display: table-cell;
    margin-right: 50px;
    font-family: Source Code Pro;
    font-weight: bold;
    font-size: 45px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

.texto {
    font-family: Source Code Pro;
    font-size: 20px;
    color: #008000;
    text-decoration: none;

}

main {
    display: table;
}

.foto-ascii {
    display: table-cell;
    font-size: xx-small;
    padding: 5px;
}

.div-texto {
    display: table-cell;
    text-align: justify;
    line-height: 1.5;
    max-width: 50%;
    padding: 15px;
    border-right: 15px;
}

#link:hover {
    background-color: #008000;    
    transition-delay: 0,5s;
    color: black;
}

#link-voltar {
    font-family: 'Source Code Pro';
    color: #008000;
    text-decoration: none;
}

#link-voltar:hover {
    background-color: #008000;    
    transition-delay: 0,5s;
    color: black;
}

#atendimento {
    font-family: Source Code Pro;
    font-size: 20px;
    font-weight: bold;
    color: white; 
}

.container-redes {
    display: table;
    text-align: center;
    width: 100%;
    
}
.redes {
    display: inline-block;
    max-width: 5.5%;
    padding: 0 2% 0 2%; 
}

/* Página Links*/

.container-links {
    display: table;
    text-align: center;
    width: 100%;
    
}
.links {
    display: inline-block;
    max-width: 5.5%;
    padding: 10% 3% 0 3%; 
}

footer {
    position: relative;
    margin-top: 7%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
    padding: 3px;
    font-family: 'Source Code Pro';
    color: #008000;
}


/** Tablets e Celulares **/

@media (max-width: 480px) {

    .logo {
        display: block;
        max-width: 60%;
        margin: auto;
    }

    .resolve-problemas {
        display: block;
        margin: auto;
        font-size: 30px;
    }

    main {
        max-width: 100%;
    }
    .foto-ascii {
        display: block;
        font-size: 6px;
    }

    .div-texto {
        display: block;
        max-width: 100%;
    }

    .texto {
        text-align: left;
        font-size: 18px;
        padding: 0 5% 0;
    }

    #atendimento {
        text-align: left;
        font-size: 18px;
        padding: 0 5% 0;
    }
}

@media (max-width: 360px) {
    .logo {
        display: block;
        max-width: 100%;
        margin: auto;
    }

    .resolve-problemas {
        display: block;
        max-width: 100%;
        font-size: 30px;
        text-align: center;
    }

    .foto-ascii {
        display: block;
        font-size: 6px;
    }

    .div-texto {
        display: block;
        max-width: 100%;
    }
}



@media (max-width: 840px) {
    .logo {
        display: block;
        max-width: 60%;
        margin: auto;
    }

    .resolve-problemas {
        display: block;
        margin: auto;
        font-size: 35px;
    }

    .foto-ascii {
        display: block;
        font-size: 7px;
        text-align: center;
    }

    .div-texto {
        display: block;
        max-width: 100%;
    }

    .texto {
        text-align: left;
        font-size: 20px;
        padding: 0 5% 0;
    }

    #atendimento {
        text-align: left;
        font-size: 20px;
        padding: 0 5% 0;
    }

    /** Página Links**/

    #texto-links {
        text-align: center;
        font-size: 30px;
    }

    .links {
        display: inline-block;
        max-width: 18%;
        padding: 10% 3% 0 3%; 
    }
}

@media (max-width: 1050px) {
    .logo {
        max-width: 65%;
    }
    
    .foto-ascii {
        font-size: 6.7px;
    }
}